<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">GymApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div>
    <div class="container">
        <h1 th:text="${titulo}">FitGym Pro</h1>
        <p class="lead" th:text="${slogan}">Aca deberia haber un slogan</p>
    </div>
</div>

<p class="card-text">
    <strong>Fecha:</strong>
    <span th:text="${fecha}">01/01/2023</span>
</p>

<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p class="mb-0"><span th:text="${titulo}">FitGym Pro</span></p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>